.container {
    max-width: 100%;
}

h1 {
    text-align: center;
    background-color: #343a40;
    color: white;
    padding: 1%;
}

.btn {
    margin-top: 5%;
}

.clearSearches {
    background-color: #ff6961;
    color: white;
}

.card {
    background-color: dodgerblue;
    color: white;
}

/* UV Warning Levels */
.uvLow {
    background-color:green;
    color: white;
}

.uvMedium {
    background-color:yellow;
    color: white;
}


.uvHigh {
    background-color:red;
    color: white;
}